body{
    background-color: blue;
}
.f{
    color: white;
    text-align: center;
}
.p{
    border-radius: 10px;
    height: 500px;
    width: 500px;
    background-color: white;
    margin: 0% auto;
    padding: 5px;
    text-align: center;
}